<h1>Add new Restaurant</h1>
<%= simple_form_for(@new_restaurant) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category, collection: %w[belgian japanese italian french chinese] %>
    <%= f.button :submit %>
<% end %>
